// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container_apartements{
  display: flex;
  flex-wrap: wrap;
}

.box_apartement{

  width: 250px;
  border: 1px solid purple;
  margin: 5%;
  padding: 2%;
}
